# Python
__pycache__/
*.pyc

# Environments
.venv/
env/
conda/
anaconda/

# HuggingFace cache
.cache/
.huggingface/

# OS
.DS_Store

# model folders / artifacts
open/
W8A8_model/
W4A16_model/
W8A16_model/
model/
*.safetensors
*.bin
*.pt
*.zip
